body {
    text-align: center;
}
.entrada-de-dados {
    text-align: center;
}
.entrada-opcoes{
    text-align: center;
}
.tabela-descritiva{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.tabela-descritiva2{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.tabela-descritiva3{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.tabela-separatriz{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.graficos {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.ordinal{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: absolute; 
    top: 0; 
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
